body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    text-align: center;
}

.oneTab {
    padding-left: 2em;
}

#hintProj:hover + #imgProj {
    visibility: visible;
}
#imgProj {
    visibility: hidden;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

#hintNuGet:hover + #imgNuGet {
    visibility: visible;
}
#imgNuGet {
    visibility: hidden;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

#hintWebConfig:hover + #imgWebConfig {
    visibility: visible;
}
#imgWebConfig {
    visibility: hidden;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
#hintCString:hover + #imgCString {
    visibility: visible;
}

#imgCString {
    visibility: hidden;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    width: 60%;
    z-index: 1;
}